/* Add CSS styling here */
/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	/* Enable below for testing sizing/page */
	/* border: 1px solid grey; */
	font-family: "Righteous", cursive;
}

html {
	font-size: 62.5%;
	background-color: black;
	color: white;
	font-family: "Righteous", cursive;
}

body {
	font-size: 1.8rem;
	line-height: 1.5;
}

/* Nav styles */

nav {
	display: flex;
	justify-content: flex-end;
	text-align: center;
	font-family: "Righteous", cursive;
}

h1 {
	margin-left: 2%;
	margin-top: 3%;
	font-size: 3rem;
	font-family: "Righteous", cursive;
}

/* h1:hover {
	transition: 2s;
	Need to do something here maybe?
} */

h1 span {
	color: red;
}

nav a {
	font-size: 1.5rem;
	padding: 1% 2rem;
	text-decoration: none;
	margin-right: 2%;
	background-color: #d02b2b;
	color: white;
}

nav a:hover {
	transition: 1s;
	color: red;
	background-color: black;
}

/* Wiggle Effect */
nav a:hover {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

/* First Section Styles */
.main {
	margin-top: 3rem;
}

.btn-img {
	background-image: url("../assets/main.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: large;
	width: 800px;
	height: 500px;
}

.top {
	display: flex;
	justify-content: center;
}

h2 {
	font-size: 3rem;
	margin-bottom: 2%;
}

h2:hover {
	transition: 1s;
	color: red;
}

.btn-img a {
	text-decoration: none;
	color: white;
	background-color: #d02b2b;
	padding: 1rem;
}

.btn-img a:hover {
	transition: 1s;
	color: red;
	background-color: black;
}

/* Projects Section Styles */

.projects {
	margin-top: 3%;
}

.projects img {
	padding: 1rem;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.row div {
	width: 30%;
}

.project-divs {
	text-align: center;
}

footer {
	margin-top: 5%;
	background-color: red;
	padding: 100px;
	text-align: center;
}

.bottom div img {
	width: 3%;
}

.bottom button a {
	text-decoration: none;
	background-color: red;
	color: white;
	font-size: 30px;
}

.bottom button {
	border: none;
}

/* MEDIA QUERIES HERE FOR MOBILE AND TABLETS */
/* 800PX */
@media (max-width: 800px) {
	/* Media for Nav */

	h1 {
		text-align: center;
		padding-bottom: 1rem;
		margin-left: 0;
	}

	nav {
		flex-direction: column;
		align-items: center;
	}

	nav a {
		margin-right: 0; /* Resetting previous Margin */
		width: 25%;
	}
}

/* 500PX */
@media (max-width: 500px) {
	/* Media for Main Section */

	.btn-img {
		height: 200px;
	}

	.main {
		width: 80%;
	}

	/* Media for Projects Section */

	.row div {
		width: 45%;
	}

	/* Media for Footer Section */
	footer {
		padding: 3rem;
	}

	.bottom button {
		border: none;
	}

	.bottom div img {
		margin-top: 1rem;
		width: 3rem;
	}
}

/* Add some Accessability Features */
